{% extends "layout.html" %}
{% block title %} {{ author.name }} {% endblock %}
{% block content %}
  <h1 class="title has-text-centered">{{author.name}}</h1>
  {% if (author.birth and author.death) %} <h3 class="subtitle has-text-centered"> ({{ author.birth }} - {{ author.death }}) </h3>
  {% elif author.birth %} <h3 class="subtitle has-text-centered"> ({{ author.birth }} - ?) </h3>
  {% elif author.death %} <h3 class="subtitle has-text-centered"> (? - {{ author.death }}) </h3> {% endif %}
  {% if author.average!=-1 %} <h3 class="subtitle has-text-centered"><span style='font-size:30px;'>&#9734;</span> {{ author.average }} </h3> {% endif %}
  <div class="columns">
    <div class="column is-three-fifths has-text-centered">
      {% if poems %}
      <h2 class="title" style="margin-left: 10%;">Poems</h2>
      <div class="columns is-multiline is-mobile">
        {% for poem in poems %}
      <div class="card column is-one-third" style="margin-right: 10px; margin-left: 5%; margin-bottom: 30px; background-color: wheat;">
          <div class="card-content ">
          <p class="title">
            {{ poem.title }}
          </p>
          
          <p class="subtitle">
            <div style="font-family: 'Sansita Swashed', cursive;">
            {% for para in poem.text %}
                <p>{{para}}</p>
            {% endfor %}
            ...
          </div>
          </br>
          {% if poem.average!=-1 %}<span style='font-size:30px;'>&#9734;</span> {{ poem.average }} {% endif %}
          </br>
          <a href="{{ url_for('poem_page', id=poem.id) }}">Read more...</a>
          </p>
          </div>
      </div>
      {% endfor %}
    
    
    </div>
    
      {% endif %}
    </div>
    <div class="column is-one-fifths">
      <h2 class="title">Comments</h2>
      {% if comments %}
      <div class="comments">
        {% for comment in comments %}
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ comment.realname }}</strong> <small>@{{ comment.username }}</small>
                   <small>{{ comment.date }}{% if comment.edit_date %} (edited: {{ comment.edit_date }} {% endif %}</small>
                  <br>
                  {{ comment.text }}
                </p>
              </div>
            </div>
            {% if current_user.is_admin or current_user.id == comment.user_id %}
            <div class="media-right">
                {% if current_user.id == comment.user_id %}
                <form action="" method="POST" name="edit_comment">
                  <button name="btn" value="{{comment.id}}" id="{{comment.id}}" class="material-icons" style="font-size:12px">mode_edit</button>
                </form>
                {% endif %}
                <button class="delete delete_comment" name="delete_comment" value="{{comment.text}}" id="{{comment.id}}"></button>
              </form>
            </div>
            {% endif %}
          </article>
        {% endfor %}
      </div>
      {% else %}
          There are no comments..
      {% endif %}

      {% if current_user.is_authenticated %}
      <h2 class="title">Add a Comment</h2>
      <form action="" method="POST" name="comment_add">
          {{ comment_form.csrf_token }}
          <article class="media">
            <div class="media-content">
              <div class="field">
                <p class="control">
                    {{ comment_form.text(rows="5", cols="50", required=True,
                    placeholder='Add a comment...') }}
                </p>
              </div>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <button name="btn" value="submit_comment" class="button is-info">Submit</button>
                  </div>
                </div>
              </nav>
            </div>
          </article>
      </form>
    </div>
    {% endif %}
  </div>

  {% if current_user.is_admin %}
  <div class="field is-grouped">
    <div class="control">
      <form action="" method="POST">
        <button name="btn" value="edit" class="button is-primary is-small">Edit Author</button>
      </form>
    </div>
  </div> 

  <div class="field is-grouped">
    <div class="control">
      <button name="btn" value="delete" id="delete" class="button is-danger is-small">Delete Author</button>
    </div>
  </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal" id="x" role="dialog">
    <div class="modal-background"></div>
    <div class="modal-content has-background-warning py-5 px-5 has-text-centered">
     <h3 class="title" id="title">Deleting</h3>
     <p id="modal_message">Are you sure?</p>
     <div class="columns">
       <div class="column is-3">
       <form action="" method="POST" id="delete_form">     
         <button name="btn" value="save" class="button is-danger">Delete</button>
       </form>
      </div>
      <div class="column is-3" style="margin-left: 50%;">
       <button name="btn" id="cancel" value="cancel" class="button">Cancel</button>
      </div>
     </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>

<script>
  const deleteComment = document.querySelectorAll('.delete_comment');
  const deleteButton = document.querySelector('#delete');
  const cancelButton = document.querySelector('#cancel');
  const modalBg = document.querySelector('.modal-background');
  const modal = document.querySelector('.modal');
  const title = document.getElementById('title');
  const message = document.getElementById('modal_message');
  const deleteForm = document.getElementById('delete_form');

  for(i=0; i<deleteComment.length; i++){
    deleteComment[i].addEventListener('click', function(e)  {
      modal.classList.add('is-active');
      title.innerHTML = 'Deleting Comment';
      message.innerHTML =  e.target.value;
      deleteForm.action = '{{ author.id }}/delete-comment/' + e.target.id;
    })
  }
  deleteButton.addEventListener('click', () => {
    modal.classList.add('is-active');
    title.innerHTML = 'Deleting {{ author.name }}';
    message.innerHTML =  'Are You Sure?';
    deleteForm.action = '{{author.id}}/delete-author';
  });
  cancelButton.addEventListener('click', () => {
    modal.classList.remove('is-active');
  });
  modalBg.addEventListener('click', () => {
    modal.classList.remove('is-active');
  });
</script>
  
{% endblock %}