{% extends "layout.html" %}
{% block title %}Add Author{% endblock %}
{% block content %}
    <h1 class="title has-text-centered">Add Author</h1>
    <div class="column is-4 is-offset-4">
    <form action="" method="POST" name="author_add">
      {{ form.csrf_token }}
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control is-one-quarter">
          {{ form.name(required=True, autofocus=True,
            class='input is-large',
            placeholder='name') }}
        </div>
          </p>
        <label for="birth" class="label">Birth Year</label>
        <div class="control">
          {{ form.birth(autofocus=True,
            class='input is-large',
            placeholder='Birth Year') }}
        </div>
        {% for error in form.birth.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
      {% endfor %}
        <label for="birth" class="label">Death Year</label>
        <div class="control">
          {{ form.death(autofocus=True,
            class='input is-large',
            placeholder='Death Year') }}
        </div>
        {% for error in form.death.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
      {% endfor %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Add Author</button>
        </div>
      </div>
    </form>
    </div>
{% endblock %}