{% extends "layout.html" %}
{% block title %}Author List{% endblock %}
{% block content %}
    <h1 class="title has-text-danger-dark"">Author List</h1>
    {% if  authors %}
    <table id="authors" class="table is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th><abbr title="Title">Name</abbr></th>
            <th><abbr title="Year">Birth</abbr></th>
            <th><abbr title="Average">Death</abbr></th>
            <th><abbr title="Author">Average</abbr></th>
            <th><abbr title="Number of Votes">Number of Votes</abbr></th>
          </tr>
        </thead>
        <tbody>
        {% for author in authors %}
          <tr>  
            <td><a href="{{ url_for('author_page', id=author.id) }}">{{ author.name }}</a></td>
            <td>{% if author.birth %} {{ author.birth }} {% endif %}</td>
            <td>{% if author.death %} {{ author.death }} {% endif %}</td>
            <td>{% if author.average!=-1 %} {{ author.average }} {% endif %}</td>
            <td>{{ author.total_votes }}</td>
          </tr>
          {% endfor %}
        </tbody>
  
      </table> 
    {% endif %}

    <script>
        $(document).ready( function () {
          $('#authors').DataTable();
      } );
      </script>
{% endblock %}